#categories-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
}

#categories-h1 {
    display: flex;
    justify-content: center;
    color: #6a34ce;
    font-size: 40px;
    text-decoration: underline;
 
}

#categories-h2 {
    width: 200px;
    border: 3px solid #6a34ce;
    color: #6a34ce;
    display: flex;
    justify-content: center;
    border-radius: 3px 3px 3px 3px;
}

#categories-link {
    color: #6a34ce;
}