#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

#signup-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-field {
    margin-bottom: 20px;
    height: 30px;
    width: 250px;
}

#signup-button {
    margin-top: 10px;
    background-color: #6a34ce;
    color:white;
    
}

#signup-h1 {
    color: #6a34ce;
    margin-bottom: 0px;
}

#login-link {
    margin-top: 15px;
    color: #6a34ce;
}

.choose-file {
    margin-top: 10px;
    width: 300px;
}

#profile-img-label {
    margin-top: 20px;
    width: 300px;
}