
.thumbnail {
    width: 320px;
    height: 180px;
}

#home-grid {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    /* margin-top: 100px; */
    /* background-color: #F9F9F9; */
    background-color: rgb(236, 236, 236); 
    /* flex-grow: 1; */
    align-items: start;
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

#home-h1 {
    display: flex;
    justify-content: center;
    color: #6a34ce;
}

#thumbnail-div {
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;

}

#thumbnail-div > * {
    width: 300px;
}

#thumbnail-h3-div {
    padding: 10px;  
}

#thumbnail-h3-link {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

