
.thumbnail {
    /* margin-right: 20px;
    margin-top: 20px; */
}

#home-grid {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* margin-top: 100px; */
    margin-left: 200px;
    background-color: #F9F9F9;
    height: 100vh;
    align-items: center;
}

#thumbnail-h3-div {
    padding: 10px;  
}

