.active {
    color: green;
}

#side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 170px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
}

#top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

#logout-button {
    width: 100px;
}

#search-bar {
    height: 30px;
    width: 30%;
}

