.active {
    color: purple !important;
}

#side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 180px;
    margin-top: 0px;
    justify-content: space-around;
    padding-bottom: 200px;
    background-color: #85b69a;
    /* position: fixed; */
}


#top-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: rgb(150, 150, 150);
    
}

#logout-button {
    width: 100px;
}

#search-bar {
    border: none;
    height: 30px;
    width: 80%;
    min-width: 350px;
    border-radius: 6px 6px 6px 6px;
    margin-left: 30%;
}

#search-bar-form {
    width: 40%;
    margin-left: 17%;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(58, 58, 58);
}

#nav-logo {
    height: 100px;
    width: 140px;
    margin-top: 10px;
    margin-left: 20px;
   
}

