#user-following-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#following-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.following-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

#following-text {
    font-size: 25px;
    margin-right: 10px;
}

