#user-following-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
    margin-top: 50px;
}

#following-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.following-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

#following-text {
    font-size: 25px;
    margin-right: 10px;
}

#no-following-h1 {
    /* display: flex;
    justify-content: center; */
    position: relative;
    margin-left: 38%;
    /* transform: translateX(-10%); */
    margin-top: 30px;
    color: #6a34ce;

}