/* #user-info {
    display: flex;
    justify-content: space-around;
} */

#user-favorites-h1 {
    /* display: flex;
    justify-content: center; */
    position: sticky;
    margin-left: 38%;
    margin-top: 0px;
    color: #6a34ce;
    width: 300px;
}


#user-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-list-h1 {
    font-size: 50px;
    text-decoration: underline;
    color: #6a34ce;
}

#user-list-name {
    font-size: 40px;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

#profile-nav {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    align-items: center;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2);
    background-color: white;
}

.profile-nav-link {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #6a34ce;
    width: 100px;
    height: 40px;
    cursor: pointer;
    /* padding-bottom: 20px; */
    color: #6a34ce;
    background-color: white;
}

.user-profile-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
}

#user-info {
    list-style: none;
    margin-left: 0px;
}

#follow-profile-button {
   position: absolute;
   background-color: #6a34ce;
   color: white;
   width: 90px;
   left: 200px;
}

#collection-header {
    margin-top: 25px;
} 

/* #profile-header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

*/
/* .active {
    color: black;
} */